<!-- Gallery Section -->
{{define "gallery"}}
<div class="gallery-section">
    <div class="gallery-slider owl-carousel">
        <div class="gs-item">
            <img src="../assets/img/gallery/1.jpg" alt="">
            <div class="gs-hover">
                <i class="fa fa-instagram"></i>
                <p>ahana.yoga</p>
            </div>
        </div>
        <div class="gs-item">
            <img src="../assets/img/gallery/2.jpg" alt="">
            <div class="gs-hover">
                <i class="fa fa-instagram"></i>
                <p>ahana.yoga</p>
            </div>
        </div>
        <div class="gs-item">
            <img src="../assets/img/gallery/3.jpg" alt="">
            <div class="gs-hover">
                <i class="fa fa-instagram"></i>
                <p>ahana.yoga</p>
            </div>
        </div>
        <div class="gs-item">
            <img src="../assets/img/gallery/4.jpg" alt="">
            <div class="gs-hover">
                <i class="fa fa-instagram"></i>
                <p>ahana.yoga</p>
            </div>
        </div>
        <div class="gs-item">
            <img src="../assets/img/gallery/5.jpg" alt="">
            <div class="gs-hover">
                <i class="fa fa-instagram"></i>
                <p>ahana.yoga</p>
            </div>
        </div>
        <div class="gs-item">
            <img src="../assets/img/gallery/6.jpg" alt="">
            <div class="gs-hover">
                <i class="fa fa-instagram"></i>
                <p>ahana.yoga</p>
            </div>
        </div>
    </div>
</div>
{{end}}
<!-- Gallery Section end -->
